/* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

#stats-bar {
  position: absolute;;
  left: 0;
  bottom: 0;
}

#stats-bar .card {
  display: inline-block;
}

.card {
  margin: 10px !important;
}
